@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }

  body {
    @apply scroll-smooth;
  }
}